.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #242438;
}
.header h1 {
  color: #f6f5f4;
  margin: 0;

  font-size: 3rem;
  font-weight: 600;

  padding: 5px;
  margin-left: 5px;
}
