.userInfo {
  background-color: var(--text-color);
  color: var(--primary-color);
  min-width: 600px;
  max-width: 800px;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
}

.form-container {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.form-container.active {
  max-height: 90%;
  opacity: 1;
  transform: translateY(0);
}
